/* Configuración General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    color: white;
    background-color: blueviolet;
    height: 150px;
    font-family: "Lato", sans-serif;
    font-size: 80px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    margin: 10px;

}
main{
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    flex-direction: row;

}
.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 9px;
    padding: 0%;
    border: 8px solid #520d54;
    border-radius: 12px;
    border-bottom: -30%;
}



.item2{
    color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.men{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
}
.item1{
    height: 80px;
    color: rgb(86, 4, 83);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    margin: 8px;
}

.item3{
    color: #520d54;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 100%;
    width: auto;
    margin-top: -50px;
    margin-right: 20px;
}

.item4{
    color: #520d54;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.FOTO{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px;
    border: 15px;
    border-color: blueviolet;
    padding: 0% ;
}

.FOTO img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #0b0b0d;
    color: #555;
    font-size: 14px;
    margin-top: 1%;
}a {
    color: inherit;            /* Hereda el color del texto del elemento padre */
    text-decoration: none;     /* Elimina el subrayado por defecto */
    cursor: default;           /* Opcional: elimina la mano del cursor si no quieres que parezca un link */
}


